.detail-body {
  display: flex;
  flex-direction: column;
}
.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 1250px;
  background-color: rgb(111, 161, 159);
}
.details-list {
  width: 70%;
  margin-right: 30%;
}
aside {
  margin-left: -100px;
}
.movie-reel {
  height: 100%;
  width: auto;
}

.movie-title {
  color: whitesmoke;
  font-family: "East Sea Dokdo", cursive;
  font-size: 72px;
  background-color: rgba(0, 0, 0, 0.719);
}
.details {
  padding-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
}

.label {
  font-weight: 700;
}

.thumb-counter {
  margin-right: 30%;
}

.counter-title {
  font-weight: 700;
  padding-bottom: 45px;
}

.the-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.counter-area {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: ivory;
  padding: 10px;
  border-radius: 25px;
}
.link-home {
  margin-top: 40px;
}
