.detail-body {
  display: flex;
  flex-direction: column;
}
.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
  background-color: rgb(111, 161, 159);
  width: 100%;
}

/* aside {
  width: 55%;
} */
.movie-reel {
  display: hidden;
}
.movie-reel {
  height: 100%;
  width: auto;
}

.movie-title {
  color: whitesmoke;
  font-family: "East Sea Dokdo", cursive;
  font-size: 72px;
  background-color: rgba(0, 0, 0, 0.719);
}
.details {
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 2.25rem;
  font-size: 18px;
  font-weight: 400;
}

.label {
  font-weight: 700;
}

.counter-title {
  font-weight: 700;
  padding-bottom: 45px;
}

.the-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.counter-area {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: ivory;
  padding: 10px;
  border-radius: 25px;
}
.link-home {
  margin-top: 40px;
}
@media (max-width: 1054px) {
  aside {
    display: none;
  }
  main {
    text-align: center;
    align-items: center;
  }
  .details {
    padding-top: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 1.25rem;
  }
  .label {
    font-size: 1.5rem;
  }
  .the-thumbs {
    margin: 0;
  }
}
