.search-form {
  padding-top: 40px;
  z-index: 1;
}
.search-input-label {
  font-size: 54px;
  font-family: "East Sea Dokdo", cursive;
}

.search-input {
  width: 350px;
  height: 36px;
  font-size: 26px;
}

.submit-button {
  background-color: black;
  color: whitesmoke;
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px, 15px, 10px, 15px;
}
