.search-form {
  padding-top: 40px;
  z-index: 1;
}
.search-input-label {
  font-size: 54px;
  font-family: "East Sea Dokdo", cursive;
}

.search-input {
  width: 200px;
  height: 1.75rem;
  font-size: 1.25rem;
}

.submit-button {
  background-color: black;
  color: whitesmoke;
  font-weight: bolder;
  margin-top: 10px;
  padding: 10px, 15px, 10px, 15px;
}
@media (min-width: 651px) {
  .search-input {
    width: 350px;
    height: 2.25rem;
    font-size: 1.65rem;
  }
}
